html,
body {
    height: 100%;
}


.container-fluid {
    height: 100%;
}



/* -----------Survey section--------*/

#share-link {
    background-color: #f8f1f1;
}



.box {
    height: 100%;
    margin-top: 150px;
    margin-bottom: 264px;
    font-family: Roboto, sans-serif;
    padding: 60px 0px;
    color: #071a52;
    border-radius: 2%;
}



.contact-icon {
    text-align: right;
    font-size: 150px;
    margin-right: 60px;
}

.contact-msg {
    text-align: left;
    font-size: 30px;
}

.contact-way {
    margin-top: 20px;
}

.contact-way ul {
    padding: 0;
}

.contact-way li {
    color: #071a52;
    display: inline-block;

}

.contact-way .social-icon {
    color: #071a52;
}
