body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}



.container-fluid {
    padding: 0;
    background: #071a52;
    height: 80vh;

    /*    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/carl-heyerdahl-181868-unsplash.jpg");*/
}


/* -----------NAV --------*/

nav {
    padding: 3rem
}

nav ul {
    margin: 0;
}

.brand {
    color: #a7ff83;
    font-family: 'Gochi Hand', cursive;
    font-weight: 900;
    text-align: left;
    margin: auto;
    position: relative;
    left: 16px;
    letter-spacing: 0.2rem;
    font-size: 2rem;
}



.navbar-links {
    text-align: right;
}

.navbar-links li {
    display: inline-block;
}

#navbar-big-screen-links {
    padding: 8.5px 0;
}


.navbar-link {
    padding: 0 20px;
    text-decoration: none;
    color: #17b978;
}



/* -----------Main section --------*/

.title-img {
    font-size: 14rem;
    color: white;
    text-align: right;
    vertical-align: middle;
    padding-right: 50px;
    margin: auto;
}

.big-heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    color: #a7ff83;
    position: relative;
    top: 58px;
    font-style: italic;
    padding-left: 50px;
}

.main-buttons {
    margin-top: 50px;
}




/* -----------Buttons --------*/

.start-button {
    margin: 0 10px;
    color: white;
    width: 130px;
}

.login-button {
    margin: 0 10px;
    border margin-right: 15px;
    width: 130px;
    background: #17b978;
    color: black;
    opacity: 0.8;
}

.login-button:hover {
    color: white;
    opacity: 1;
}


/* -----------Hamburger Menu --------*/

.hamburger {
    display: none;
}


@media (max-width: 720px) {
    .hamburger {
        display: inline-block;
        margin-right: 48px;
        vertical-align: middle;
        cursor: pointer;
    }

    #navbar-big-screen-links {
        display: none;
    }


    .big-heading {
        position: static;
        font-style: italic;
        margin: auto 0;
        padding-right: 50px;
    }

    .big-heading h1 {
        font-size: 1.2rem;
    }

    .title-img {
        font-size: 7rem;
    }


    .start-button {
        margin: 10px 0;
        width: 100%;
    }

    .login-button {
        margin: 10px 0;
        width: 100%;
    }

    .main-buttons {
        margin: 0;
    }


}

.hamburger .line {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    height: 3px;
    width: 32px;
    display: block;
    background-color: white;
    margin: 8px 0;
}


.hamburger.is-active .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    -moz-transition: translateY(11px) rotate(45deg);
    -webkit-transition: translateY(11px) rotate(45deg);
    -o-transition: translateY(11px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
    -moz-transition: translateY(-11px) rotate(-45deg);
    -webkit-transition: translateY(-11px) rotate(-45deg);
    -o-transition: translateY(-11px) rotate(-45deg);
}



#navbar-small-screen-links {
    display: none;
    text-align: center;
}


#navbar-small-screen-links ul {
    list-style-type: none;
    padding: 0;

}

#navbar-small-screen-links li {
    padding: 12px;
}

#navbar-small-screen-links li:hover {
    background-color: #086972;
    opacity: 0.8;
}

#navbar-small-screen-links a {
    color: #17b978;
    text-decoration: none;
}

#navbar-small-screen-links a:hover {
    color: white;
    text-decoration: none;
}

#navbar-small-screen-links .fas {
    margin-left: 12px;
    font-size: 0.9rem;
    position: relative;
    bottom: 0.05rem;
}


@media (min-width: 720px) {
    #navbar-small-screen-links {
        display: none !important;

    }
}
