#main {
    height: auto;
}


/* -----------Questions section--------*/

.question {
    padding: 32px 150px 32px 150px;
    text-align: center;
}

.question h5 {
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#question-1 {
    background-color: #f8f1f1;
}

#question-2 {
    background-color: #acc6aa;
}

#question-3 {
    background-color: #c19191;
}

#question-4 {
    background-color: #ffffb5;
    padding-bottom: 60px;
}


#questions .toggle-btn {
    margin-left: auto;
    margin-right: auto;
}

#question-2 .answer {
    text-align: left;
    margin: auto;
    margin-left: 30%
}

#question-3 .answer {
    text-align: left;
    margin: auto;
    margin-left: 30%
}

.answers {
    margin-top: 32px;
}

.answer {
    padding: 8px 0;
}


/* -----------Checkboxes--------*/

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    padding-left: 40px;
}

.checkbox input[type="checkbox"] + label:before {
    content: "";
    border: 1px solid #071a52;
    border-radius: 25%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0px;
}

.checkbox input[type="checkbox"] + label:after {
    content: "\2714";
    font-size: 25px;
    position: absolute;
    color: #071a52;
    top: -6px;
    left: 3px;
    opacity: 0;
    transition: transform 0.1s linear, opacity 0.1s;
    -moz-transition: transform 0.1s linear, opacity 0.1s;
    -webkit-transition: transform 0.1s linear, opacity 0.1s;
    -o-transition: transform 0.1s linear, opacity 0.1s;
}

.checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


/* -----------Radio --------*/

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    padding-left: 40px;
}

.radio input[type="radio"] + label:before {
    content: "";
    border: 1px solid black;
    background: #c19191;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0px;
}

.radio input[type="radio"] + label:after {
    content: "";
    border: 1px solid #071a52;
    background: #071a52;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    color: #071a52;
    top: 7px;
    left: 6.7px;
    opacity: 0;
    transition: transform 0.1s linear, opacity 0.1s;
    -moz-transition: transform 0.1s linear, opacity 0.1s;
    -webkit-transition: transform 0.1s linear, opacity 0.1s;
    -o-transition: transform 0.1s linear, opacity 0.1s;
}


.radio input[type="radio"]:checked + label:after {
    opacity: 1;
}


/* -----------Buttons--------*/

.toggle-btn {
    border-radius: 15px;
    width: 45px;
    height: 25px;
    background: gray;
    padding: 6px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.active-toggle {
    background-color: #17b978;
}

.active-toggle .circle-inner {
    position: relative;
    bottom: 3.5px;
    left: 10px;
}

.toggle-btn .circle-inner {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: relative;
    bottom: 3.5px;
    right: 10px;
    display: inline-block;

}


.next-button {
    width: 28%;
}



/* -----------MEDIA QUERIES--------*/

@media (max-width: 822px) {
    #question-2 .answer,
    #question-3 .answer {
        margin-left: 30%;
    }

    .question {
        padding: 32px 50px 32px 50px;
        text-align: center;
    }
}


@media (max-width: 622px) {
    #question-2 .answer,
    #question-3 .answer {
        margin-left: 15%;
    }

    .question {
        padding: 32px 20px 32px 20px;
        text-align: center;
    }
}
